# Node dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env
.env.production

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
